#active-chat {
    width: 100%;
    position: relative;
    .flex-display();

    &:empty {
        .image_as_bg('chat.svg');

        background-size: 90% 75%;

        &::after {
            display: block;
            position: absolute;
            bottom: 0.5em;
            width: 100%;
            text-align: center;
            font-size: 3.23em;
            color: fade(@black, 50%);
            margin: 0.5em 0 0;
            content: 'Select a chat to start messaging';
            .serif;
        }
    }
}

.active-chat-container,
#active-chat-container {
    position: relative;
    .flex-display();
    .flex-direction(column);
    .justify-content(space-between);

    width: 100%;

    &.loading {
        &::before {
            display: block;
            content: ' ';
            position: absolute;
            top: 20px;
            left: 50%;
            .image_as_bg('preloader.svg');

            width: 200px;
            height: 25px;
            margin-left: -100px;
            background-color: fade(@black, 50%);
            border-radius: 25px;
            outline: 10px solid fade(@black, 50%);
        }
    }

    .active-chat-messages-container {
        padding: 0 3em;
        box-sizing: border-box;
        overflow-y: scroll;
        flex-basis: 100%;
    }
}

.date-separator {
    .fadein-animation();

    display: block;
    border-top: 1px solid @green;
    border-bottom: 1px solid @green;
    .serif();

    font-size: 1.3em;
    line-height: 2.15em;
    text-align: center;
    margin: 1.3em auto;
}

#active-chat-messages {
    margin-bottom: 2.2em;

    .sender {
        .fadein-animation();

        margin: 1.5em 0 0.5em;

        *> {
            vertical-align: middle;
        }

        .avatar {
            object-fit: cover;
            object-position: 50% 50%;
            width: 2.15em;
            height: 2.15em;
            margin-right: 0.5em;
        }

        .name {
            line-height: 2.15em;
            font-weight: 600;
        }
    }

    .message-body {
        .fadein-animation();

        position: relative;

        .text {
            .serif();

            text-align: justify;
            font-size: @bigger;
            padding: 0 3em 0 0;
            box-sizing: border-box;
            margin: 0.5em 0;

            &::before {
                content: '—';
                display: inline-block;
                width: 1.1em;
                margin-left: -1.1em;
            }
        }

        .timestamp {
            position: absolute;
            top: 0;
            right: 0;
            line-height: 1.7em;
            font-size: @smaller;
            font-weight: 300;
            color: fade(@black, 50%);
        }

        .unread {
            position: absolute;
            top: (@smaller/2.15);
            right: -1em;
            width: (@smaller/1.5);
            height: (@smaller/1.5);
            border-radius: 1em;
            opacity: 1;
            transition: background-color 0.3s, opacity 0.2s;

            &.status-sent {
                background-color: fade(@black, 50%);
            }

            &.status-delivered {
                background-color: @green;
            }

            &.status-unread {
                background-color: @green;
            }

            &.status-read {
                opacity: 0;
            }
        }
    }

    .message-img {
        .fadein-animation();

        img {
            margin: 1em 0 0;
            height: 300px;
            box-shadow: 3px 3px 7px fade(@black, 50%);
        }

        .text {
            margin-top: 0;
        }
    }
}

#active-chat-new-message {
    padding: 0 3.5em 0 3em;
    position: relative;
    box-sizing: border-box;

    &::before {
        content: ' ';
        display: block;
        position: absolute;
        width: 100%;
        height: 1.5em;
        top: -1.5em;
        left: 0;
        background: linear-gradient(0deg, @grey 20%, (fade(@grey, 0%)) 100%);
    }
}

#active-chat-header {
    text-align: right;
    box-sizing: border-box;
    padding: 10px 3.5em 0 3em;
    box-shadow: 0 10px 20px 1px @grey;
    position: relative;
    z-index: 1;

    >a {
        opacity: 0.5;
        transition: opacity 0.3s, background-color 0.3s;
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        margin-left: 15px;
        border: 10px solid transparent;
        box-shadow: 0 0 0 1px @black;
        border-radius: 30px;
        box-sizing: content-box;

        &:hover {
            opacity: 1;
            background-color: @green;
        }

        &.close {
            .image_as_bg('cross.svg');

            background-size: 80%;
        }

        &.delete {
            .image_as_bg('trash-bin.svg');

            background-size: 75%;
        }

        &.add {
            .image_as_bg('add-user.svg');

            background-size: 100%;
            width: auto;
            padding: 0 15px;
            transition: width 0.5s;
            overflow: hidden;

            form {
                left: -3px;
                top: -100px;
                display: block;
                max-width: 0;
                transform: scaleX(0);
                transform-origin: 0 0;
                transition: max-width 0.3s, opacity 0.5s, transform 0.3s;
                opacity: 0;
                white-space: nowrap;
            }

            &:focus,
            &:hover {
                background-color: transparent;
                background-size: 0;
                overflow: visible;

                form {
                    top: 0;
                    display: inline-block;
                    max-width: 250px;
                    opacity: 1;
                    transform: scaleX(1);
                }
            }
        }
    }

    .users-in-chat {
        float: left;
        text-align: left;
        font-weight: 300;

        .users-in-chat-list {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline;
                line-height: 2em;
                margin-right: 0.5em;

                a.remove {
                    display: inline-block;
                    width: 0.6em;
                    height: 0.6em;
                    vertical-align: middle;
                    margin-right: 0.5em;
                    line-height: 0.5em;
                    margin-top: -0.2em;
                    border-radius: 1em;
                    border: 3px solid transparent;
                    box-shadow: 0 0 0 1px @black;

                    .image_as_bg('remove.svg');

                    background-position: 50% 52.2%;
                    opacity: 0.5;
                    transition: opacity 0.3s, background-color 0.3s;

                    &:hover {
                        opacity: 1;
                        background-color: @green;
                    }
                }

                &:not(:last-child)::after {
                    content: ', ';
                    display: inline;
                }
            }
        }
    }
}

.new-message-form-container {
    font-size: @bigger;
    height: 4em;
    padding-top: 2px;
    box-sizing: border-box;

    .input-container {
        .flex-display();
        .flex-direction(row);

        .message-text-input-container {
            white-space: nowrap;
            .flex-grow(1);
        }

        .send-button {
            .submit_button();

            line-height: 2.5em;
            height: 2.5em;
            margin-left: -37px;

            path {
                fill: fade(@black, 50%);
                stroke: transparent;
                transition: fill 0.3s;
            }
        }

        .buttons-container {
            button {
                .submit_button();

                line-height: 2.5em;
                height: 2.5em;
                margin-left: 1.1em;

                path {
                    fill: fade(@black, 50%);
                    stroke: transparent;
                    transition: fill 0.3s;
                }

                &:hover {
                    path {
                        fill: @black;
                    }
                }
            }
        }
    }

    input.message-text {
        .text-input();

        line-height: 2.5em;
        padding: 0 3em 0 1em;
        width: 100%;

        &:valid ~ .send-button {
            path {
                fill: @green;
            }
        }
    }
}
